div(id="careerstatement" class="container text-center section")
  h4 CAREER STATEMENT
  div(class="row")
    div(class="col-md-12 text-left")
      p I am a Software engineer with 5+ years of experience in software development, testing, integration and maintenance. I started with software applications and have spent the last year focused on full stack web development. I look forward to creating new and relevant web applications to further utilize and enhance my knowledge and skills. I am available to work full time immediately.