div(id="education" class="container-fluid education section")
  div(class="row")
    div(class="col-md-3 col-sm-3 col-xs-12 text-center")
      img(id="upd" src="images/Unibersidad_ng_Pilipinas.png")
    div(class="col-md-6 col-sm-6 col-xs-12 educinfo")
      div(class="col-md-12 text-center")
        h4 EDUCATION
      div(class="col-md-4")
        h5 2006 - 2011
      div(class="col-md-8")
        h5 Bachelor of Science in Computer Science
        p University of the Philippines - Diliman
    div(class="col-md-3 col-sm-3 col-xs-12 text-center")
      img(id="dcs" src="images/dcs.png")