div(id="headerbar" class="navbar navbar-default navbar-fixed-top" role="navigation")
  div(class="container")
    div(class="navbar-header col-md-12")
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(href="#" class="navbar-brand") Daniel John M. Lalwet

    div(class='navbar-collapse collapse')
      ul(class="nav navbar-nav")
        li
          a(href="#careerstatement")
            span(class="glyphicon glyphicon-check" aria-hidden="true")
            |  Career Statement
        li
          a(href="#education")
            span(class="glyphicon glyphicon-education" aria-hidden="true")
            |  Education
        li
          a(href="#techbackground")
            span(class="glyphicon glyphicon-book" aria-hidden="true")
            |  Technical Knowledge
        li
          a(href="#probackground")
            span(class="glyphicon glyphicon-wrench" aria-hidden="true")
            |  Professional Background

div(id="footerbar" class="navbar navbar-default navbar-fixed-bottom" role="navigation")
  div(class="container")
    div(class="navbar-footer")
      p(class="navbar-text navbar-right") 5/24 Stalker Road, Gosnells, WA 6110
      p(class="navbar-text navbar-right") dj.lalwet@gmail.com
      p(class="navbar-text navbar-right") 0413299792
      p(class="navbar-text navbar-right") Contact:

      if show_all
        form(action="/clear" class="navbar-form navbar-left" method="post")
          button(type="submit" class="btn btn-default" value="submit")
            | Hide Sensitive Information
      else
        form(action="/" class="navbar-form navbar-left" method="post")
          div(class="form-group")
            input(type="password" class="form-control" placeholder="Access Password" name="password")
          button(type="submit" class="btn btn-default" value="submit")
            | Submit

