extends layout

block content
  include headerfooter
  include careerstatement
  include education
  include techbackground
  include proffessionalbackground
  div(class="container")
    include proffessionalassets
    include visainfo
    include references
