div(id="proassets" class="col-md-4 proassets")
  h4 PROFESSIONAL ASSETS
  ul
    li Excellent problem solving skills
    li Works well with the team
    li Amicable and easy to approach
    li Self-motivated and has strong commitment to meet deadlines
    li Proactive outlook
    li Works well under pressure
    li Creative
    li Great attention to detail
    li Efficient
    li Resourceful
    li Responsible
    li Dependable