div(id="probackground" class="container text-center probackground section")
  h4 Professional Background

  div(class="jobsection text-left")
    div(class="row")
      div(class="col-md-3 text-center centerlogo")
        div(class="col-md-12")
          img(id="nokia" src="images/Nokia.png")
      div(class="col-md-8 col-md-offset-1 centerlogo")
        h5 NOKIA Networks / Networklabs (Quezon City, PH)
        h5 September 2013 - December 2016
        h5 Software Engineer
    div(id="infonokia")
      div(class="row projects")
        div(class="col-md-3")
          h5 Projects
        div(class="col-md-9")
          h5 Long Term Evolution (LTE)
          ul
            li Led the ramp-up in Manila technology center
            li Trained new engineers about coding guidelines and standards
            li As a scrum master, led a tem in developing new features for LTE.
          h5 Service and Automation
          ul
            li Developed the following:
            li A microservice that converts postgreSQL to mongoDB
            li LTE power boosting/de-boosting calculator
            li Knowledge Library (NUXEO)
      hr
      div(class="row positionsummary")
        div(class="col-md-3")
          h5 Position Summary
        div(class="col-md-9")
          ul
            li Analyzed feature requirements
            li Planned, designed, implemented and maintained new features for embedded software in base stations.
            li Created and maintained test plans and test cases for new features to ensure good code quality
            li Initiated code refactoring to improve performance and code maintainability
            li Collaborated with other feature teams and counterparts to ensure software integration
            li Participated in quality and process development.
            li Provided skill-ups/induction trainings to new members of the team
            li  Led the ramp-up in Manila technology center
            li Trained new engineers about coding guidelines and standards
            li As a scrum master, led a tem in developing new features for LTE.
    div(class="col-md-3 col-md-offset-9")
      button(id="readmorenokia" class="button button-default") Show projects....
        span(class="glyphicon glyphicon-chevron-down" aria-hidden="true")
    div(class="col-md-3 col-md-offset-9")
      button(id="readlessnokia" class="button button-default") Hide projects....
        span(class="glyphicon glyphicon-chevron-up" aria-hidden="true")
  hr
  div(class="jobsection text-left")
    div(class="row")
      div(class="col-md-3 text-center centerlogo")
        img(id="canon" src="images/canon.png")
      div(class="col-md-8 col-md-offset-1 centerlogo")
        h5 CANON Information Technologies Philippines, Inc. (Quezon City, PH)
        h5 June 2011 - July 2013
        h5 Software Engineer
    div(id="infocanon")
      div(class="row projects")
        div(class="col-md-3")
          h5 Projects
        div(class="col-md-9")
          h5 imageWare Desktop Object Layout Editor
          ul
            li Developed several features such as, highlighting text and merging pages
            li As a Configuration manager:
              ul
                li Monitored all project documents from creation to delivery
                li Managed the source code repository
      hr
      div(class="row positionsummary")
        div(class="col-md-3")
          h5 Position Summary
        div(class="col-md-9")
          ul
            li Analyzed feature requirements and reviewed existing software architecture, code design and work processes
            li Produced layouts, charts, diagrams and pseudocode for high-level design
            li Created and implemented low - level design of software solutions based on program specifications and customer documentation
            li Created appropriate tests to ensure software reliability - products are complete and bug free
            li Applied continuous integration to be able to catch bugs immediately, ensure effective collaboration and minimize rollbacks
            li Adhered to software development process prescribed by the project
            li Contributed in the competence development of new members by equipping them with the right tools and sharing the required knowledge to ensure prompt delivery of feature requirements.
    div(class="col-md-3 col-md-offset-9")
      button(id="readmorecanon" class="button button-default") Show projects....
        span(class="glyphicon glyphicon-chevron-down" aria-hidden="true")
    div(class="col-md-3 col-md-offset-9")
      button(id="readlesscanon" class="button button-default") Hide projects....
        span(class="glyphicon glyphicon-chevron-up" aria-hidden="true")
  hr
