div(id="references" class="col-md-4 visainfo")
  h4 REFERENCES
  div(id="referencesinfo col-md-12")
    if show_all
      div(class="col-md-12")
        p
          h5 Carlo Barcellano
          | R&D Line Manager
          br 
          Nokia Networks - Manila Technology Center 
          | Email: carlo.barcellano@nokia.com
          br 
          | Mobile: +63 998 966 0257
      div(class="col-md-12")
        p
          h5 Aimee Lagman - Dimaapi
          | Manager
          br 
          CANON Information Technologies Philippines, Inc. 
          | Email: aimee@citech.com
          br 
          | Mobile: +63 917 886 2620
    else
      p Available upon request
      p Please contact me for access
