div(id="samplework" class="container text-center probackground section")
  h4 Sample Websites

  div(class="siteurl text-left")
    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 URL:
      div(class="col-md-9")
        a(href="https://djlalwet.github.io/devTest/")
          h5 https://djlalwet.github.io/devTest/

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Repository:
      div(class="col-md-9")
        a(href="https://github.com/djlalwet/devTest")
          h6 https://github.com/djlalwet/devTest
    
    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Stack:
      div(class="col-md-9")
        p Node, Webpack 2, Sass/scss, Bootstrap

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Description
      div(class="col-md-9")
        p A static website created for job application 
    hr

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 URL:
      div(class="col-md-9")
        a(href="https://djlalwet.github.io/swim_app/ ")
          h5 https://djlalwet.github.io/swim_app/

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Repository:
      div(class="col-md-9")
        a(href="https://github.com/djlalwet/swim_app")
          h6 https://github.com/djlalwet/swim_app
    
    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Stack:
      div(class="col-md-9")
        p Node, Angular, Bootstrap

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Description
      div(class="col-md-9")
        p A web application for swimming events where users can register, log-in, view race results, join an event, edit profile and log-out
    hr

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 URL:
      div(class="col-md-9")
        a(href="https://dan-cv-app.herokuapp.com")
          h5 https://dan-cv-app.herokuapp.com

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Repository:
      div(class="col-md-9")
        a(href="https://github.com/djlalwet/cv_app")
          h6 https://github.com/djlalwet/cv_app
    
    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Stack:
      div(class="col-md-9")
        p Node, Express, Angular, Bootstrap

    div(class="row")
      div(class="col-md-2 col-md-offset-1")
        h5 Description
      div(class="col-md-9")
        p A simple web application similar to this document
    hr