div(id="visainfo" class="col-md-4 visainfo")
  h4 VISA INFORMATION
  div(class="visainfo")
    if show_all
      p Skilled Independent Visa (subclass 189)
    else
      p Available upon request
      p Please contact me for access